<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>타임리프 th:text 속성 사용하기</title>
	</head>
	<body>

		<h1 th:text="조선시대의적">홍길동</h1>
		<!--
		th 타임리프 문법을 사용하겠다는 이야기  html송성에 xmlns:th="http://www.thymeleaf.org"를 추가해 준다.

			설명:
				th:text는 타임리프의 여러 속성중 하나로 엘이먼트의 내용으로 text다음에 오는값을 넣으라는 의미
				코드상에는 저렇게 작성되지만 실제 브라우저에 최종 렌더링된 결과는 해당 텍스트로 대체가 되서 나타남.
				즉, 해당 요소의 텍스트 값이 th:text의 텍스트 값으로 대체.
				h1 요소의 텍스트 값은 써줘도 되고 안써줘도 됨.
				th:text 값은 보통 변수로 넘겨받아서 출력.
				
				Q. th:text 값으로 넘어온 변수 값이 없거나 또는 아무런 값이 지정되지 않으면?
				에러가 난다.
				따라서 값의 유무를 체크해서 기본값을 지정하는 것도 상황에 따라서 필요할 수 있다.
				th:text 값이 있다 하더라도 띄어쓰기가 들어가면 에러 발생.
		-->
		
	</body>
</html>
