<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>여러 개의 Form 값 전달하고 받기</title>
	</head>
	<body>
		
		<h1>Diverse Form Page</h1>
		
		<h3 th:text="${msg}"></h3>
		
		<h3 th:text="'emailList 비었나요? : ' + ${#strings.isEmpty(emailList)}" style="color: red">먼저 isEmpty로 변수가 비어있는지를 체크</h3>

		<th:block th:if="${#strings.isEmpty(emailList)} != true">
			<h3 th:text="'체크한 값은? : ' + ${emailList}"></h3>
		</th:block>

		<th:block th:if="${#strings.isEmpty(emailList)} != true">
			<h3 th:text="'emailList 변수에 kakao 포함되었나요? : ' + ${#strings.contains(emailList,'kakao')}"></h3>
		</th:block>

		<!-- Form -->
		<form action="/thymeleaf-test14" method="POST">
		
			<!-- GET -->
			<th:block th:if="${#strings.isEmpty(checkItems)} == true">
				<table border=0 cellpadding=10>
					<tr>
						<td style="background: #ddd; width: 100px">이메일</td>
						<td><input type="checkbox" name="email" value="gmail" th:checked="false"> gmail</td>
						<td><input type="checkbox" name="email" value="kakao" th:checked="false"> kakao</td>
						<td><input type="checkbox" name="email" value="hotmail" th:checked="false"> hotmail</td>
						<td><input type="checkbox" name="email" value="naver" th:checked="false"> naver</td>						
					</tr>
					<tr>
						<td style="background: #ddd; width: 100px">성별</td>
						<td><input type="radio" name="gender" value="male"> Male</td>
						<td><input type="radio" name="gender" value="female"> Female</td>
					</tr>
					<tr>
						<td style="background: #ddd; width: 100px">연령대</td>
						<td>
							<select name="age" size=1>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="40">40</option>
								<option value="50">50</option>
								<option value="60">60 이상</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="background: #ddd; width: 140px">메일 수신여부</td>
						<td><input type="checkbox" name="mconsent" value="on" th:checked="false"> 동의함</td>
					</tr>
				</table>
				<input type="submit" value="Send">
			</th:block>
			
			<!-- POST -->
			<!-- 아래 each 반복문에서 체크박스 값 표시하는 부분에서 th:value로 써야함. value만 쓰지 않도록 주의! -->
			<th:block th:if="${#strings.isEmpty(checkItems)} != true">
				<table border=0 cellpadding=10>
					<tr>
						<td style="background: #ddd; width: 100px">이메일</td>
						<td 
							th:with="isEmail = ${emailList != null}" 
							th:each="checkItem : ${checkItems}">
								<input type="checkbox" name="email" th:value="${checkItem}" 
								th:checked="${ isEmail and (#strings.contains(emailList, checkItem)) }"> 
								<th:block th:text="${ checkItem }"></th:block>
						</td>
					</tr>
					<tr>
						<td style="background: #ddd; width: 100px">성별</td>
						<td><input type="radio" name="gender" value="male" 	 th:checked="${gender} == 'male'"> Male</td>
						<td><input type="radio" name="gender" value="female" th:checked="${gender} == 'female'"> Female</td>
					</tr>
					<tr>
						<td style="background: #ddd; width: 100px">연령대</td>
						<td>
							<select name="age" size=1>
								<option value="20" th:selected="${age} == '20'">20</option>
								<option value="30" th:selected="${age} == '30'">30</option>
								<option value="40" th:selected="${age} == '40'">40</option>
								<option value="50" th:selected="${age} == '50'">50</option>
								<option value="60" th:selected="${age} == '60'">60 이상</option>
							</select>
						</td>
					</tr>
					<tr>
						<td style="background: #ddd; width: 140px">메일 수신여부</td>
						<td><input type="checkbox" name="mconsent" value="on" th:checked="${mconsent} == 'on'"> 동의함</td>
					</tr>										
				</table>
				<input type="submit" value="Send">
			</th:block>
		
		</form>

	</body>
</html>



















