[submodule "spring/teachercode"]
	path = spring/teachercode
	url = https://github.com/kcas1005/teachercode.git
[submodule "spring/pet1"]
	path = spring/pet1
	url = https://github.com/kcas1005/pet.git
