<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>04loginInput</title>
</head>
<body>
    DTO를 이용한 사용자 입력 로그인 창<br>
    <form action="/05loginOutput" method="post">
        이름:<input type="text" name="name"><br>
        비밀번호:<input type="password" name="password"><br>
        <input type="submit" value="전송">
    </form>
</body>
</html>