<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>05forloginOutput</title>
</head>
<body>
<h1>for Object output</h1>
{{#dto}}
    name:{{name}}<br>
    password:{{password}}<br>
{{/dto}}
</body>
</html>