<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul > li {
            display: inline-block;
            border: 0px solid;
            padding: 10px;
        }
        ul {
            margin-left: -50px;
        }
    </style>
</head>
<body>
<table cellpadding=10 border=1 width="800">
    <thead>
    <tr>
        <th width="50">#</th>
        <th>Name</th>
        <th>ID</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Del</th>
        <th>Del</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <th th:text="${member.num}">1</th>
        <th><a href="#" th:href="@{/jpa/memberDetail( num=${member.num} )}" th:text="${member.name}">홍길동</a></th>
        <th th:text="${member.id}">mr.hong</th>
        <th th:text="${member.phone}">010-123-5678</th>
        <th th:text="${member.age}">20</th>
        <th><a href="#" th:href="@{/jpa/memberWrite( num=${member.num} )}">수정</a></th>
        <th><a href="#" th:href="@{/jpa/memberDelete( num=${member.num} )}">삭제(바로 삭제)</a></th>
        <th><a href="#none" th:onclick="btnDel( [[${member.num}]] );" style="color: #ff0000">삭제(확인 후 삭제)</a></th>
    </tr>
    </tbody>
</table>

<p>
    총 레코드 갯수 <span style="color: red; font-weight: bold" th:text="${members.totalElements}">4</span> &nbsp;&nbsp;&nbsp;
    현재 페이지 <span style="color: green; font-weight: bold" th:text="${members.pageable.pageNumber+1}">1</span> /
    총 페이지 <span style="color: blue; font-weight: bold" th:text="${members.totalPages}">5</span>
</p>

<ul>
    <li>
        <th:block th:if="${ members.pageable.pageNumber+1 == 1 }">
            <span style="color: #999">Previous</span>
        </th:block>
        <th:block th:unless="${ members.pageable.pageNumber+1 == 1 }">
            <a href="#" th:href="@{/jpa/memberList( page=${members.pageable.pageNumber-1},size=3)}">Previous</a>
        </th:block>
    </li>
    <li>/</li>
    <li>
        <th:block th:if="${ members.totalPages == members.number+1 }">
            <span style="color: #999">Next</span>
        </th:block>
        <th:block th:unless="${ members.totalPages == members.number+1 }">
            <a href="#" th:href="@{/jpa/memberList( page=${members.number}+1,size=3)}">Next</a>
        </th:block>
    </li>
</ul>
</body>
</html>