<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="shortcut icon" type="image/x-icon" href="/img/ico/impact_logo_20200301_icon_ver2.ico" />-->
<!--    <link rel="stylesheet" type="text/css" href="/css/default.css">-->
    <title>Title</title>
</head>
<body>
<a href="/account/insertAccount">account</a>
<a href="/getBoardList">게시판 연결</a>
<a href="/t1">여기어때</a>
<a href="https://naver.com">naver 웹사이트 연결</a>
<a href="/index2">index2로 연결</a>
<hr>
<!----------------->
<h1>API Server test</h1>
<a href="/slimeLand?input_data=junseokSlime">slimeLand API data!</a>
</body>
</html>