{{>common/header}}
<div class="main">
    <h2>TITLE Insert</h2>
    <form action="/insert" method="post">
        <table width="80%">
            <tr>
                <td><a href="insert">만들기</a></td>
            </tr>
        </table>
    </form>
</div>
{{>common/footer}}
