<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <script src="/js/includeHTML.js"></script>
</head>
<body>
<div w3-include-html="/html/header.html"></div>
<div>
    <a href="#"><span></span>
        <p>모텔</p></a>
    <a href="#"><span></span>
        <p>호텔·리조트</p></a>
    <a href="#"><span></span>
        <p>펜션</p></a>
    <a href="#"><span></span>
        <p>게스트하우스</p></a>
    <a href="#"><span></span>
        <p>캠핑·글램핑</p></a>
    <a href="#"><span></span>
        <p>한옥</p></a>
    <a href="#"><span></span>
        <p>내주변</p></a>
    <a href="#"><span></span>
        <p>페이백</p></a>
</div>
<div>
    <h2>마이펫 소식</h2>
    <ul>
        <li><a href="#"><img src="//image.goodchoice.kr/images/web_v3/b2b_banner.png" alt="여기어때 비즈니스">
            <strong>마이펫 비즈니스</strong>
            출장부터 복지까지
            <br>
            마이펫 비즈니스로 스마트하게</a></li>
        <li><a href="#"><img src="//image.goodchoice.kr/images/web_v3/re_jalnan.png" alt="여기어때 잘난체">
            <strong>마이펫 서체 출시</strong>
            젋고 당당한 마이펫 잘난체
            <br>
            지금 다운로드 받으세요!</a></li>
    </ul>


</div>
<div>
    <p>앱 다운 받고 <b>더 많은 혜택</b> 받으세요</p>
    <a href="#"><img src="//image.goodchoice.kr/images/web_v3/banner_and.png" alt=""></a>
    <a href="#"><img src="//image.goodchoice.kr/images/web_v3/banner_ios.png" alt=""></a>
</div>
<p>이벤트</p>
<div>
</div>
<div w3-include-html="/html/footer.html"></div>
<script>
    includeHTML();
</script>
<!--<h3><font color="red" th:text="${session['member'].id}"></font>로그인 되었습니다.</h3>-->
<!--
    <a th:if="${session['member'].role == 'ROLE_ADMIN'}" th:href="@{/deleteBorad(seq=${board.seq})}">글삭제</a>
    글삭제는 ROLE_ADMIN 을 가진 사용자만 글삭제 가능하게 만든 것.
-->
    <a th:href="@{/logout}">LOG_OUT</a>


    <!--시큐리티 : 모두 가능하게-->

    <!--시큐리티 : 회원가입을 한 이용자만 가능하게-->

    <!--사업자 페이지-->
    <a th:href="@{businessMember/businessMemberPage}">사업자회원 페이지</a>

    <!--시큐리티 : 사업자-->
    <a th:href="@{businessMember/bmUpdate/bm_Update}">사업자 수정하기</a>
    <a th:href="@{businessMember/selectBusinessMember/selectBM}">사업자 회원 찾기</a>

    <!--시큐리티 : 회원-->
    <a th:href="@{Member/mUpdate/Update}">회원 수정하기</a>
    <a th:href="@{Member/selectMember/select}">회원 찾기</a>

    <!--시큐리티 : 관리자만 볼 수 있게-->
    <a th:href="@{Member/memberList/members}">회원목록</a>
</body>
</html>