<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>03loginOutput</title>
</head>
<body>
    <h1>output</h1>
    name:{{name}}<br>
    password:{{password}}<br>
</form>
</body>
</html>