<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>05loginOutput</title>
</head>
<body>
    <h1>output</h1>
    {{#dtos}}
            name:{{name}}<br>
            password:{{password}}<br>
    {{/dtos}}
</body>
</html>