<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Registration Form</title>
    <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />

    <style>
        ul > li {
            display: inline-block;
            border: 0px solid;
            padding: 10px;
        }
        ul {
            margin-left: -50px;
        }
    </style>

</head>

<body>

<table th:align="center" cellpadding=10 border=1 width="800">
    <thead>
    <tr>
        <th width="50">#</th>
        <th>Name</th>
        <th>ID</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Del</th>
        <th>Del</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <th th:text="${member.num}">1</th>
        <th><a href="#" th:href="@{/jpa/memberDetail(num=${member.num})}" th:text="${member.name}">홍길동</a></th>
        <th th:text="${member.id}">mr.hong</th>
        <th th:text="${member.phone}">010-123-5678</th>
        <th th:text="${member.age}">20</th>
        <th><a href="#" th:href="@{/jpa/memberWrite( num=${member.num} )}">수정</a></th>
        <th><a href="#" th:href="@{/jpa/memberDelete( num=${member.num} )}">삭제(바로 삭제)</a></th>
        <th><a href="#none" th:onclick="btnDel( [[${member.num}]]);" style="color: #ff0000">삭제(확인 후 삭제)</a></th>
    </tr>
    </tbody>
</table>

<p th:align="center">
    총 글 갯수 : <span style="color: red; font-weight: bold" th:text="${members.totalElements}">4</span><br>
    현재 페이지 : <span style="color: green; font-weight: bold" th:text="${members.pageable.pageNumber+1}">1</span><br>
    마지막 페이지 : <span style="color: blue; font-weight: bold" th:text="${members.totalPages}">5</span>
</p>

<ul th:align="center">
    <li><!--if문에서 맨 첫 페이지 이면 Previous 가 비 활성화 되는 문구-->
        <th:block th:if="${ members.pageable.pageNumber+1 == 1 }">
            <span style="visibility:hidden" th:text="${members.pageable.pageNumber+0}">이전page</span>
        </th:block>
        <th:block th:unless="${ members.pageable.pageNumber+1 == 1 }">
            <a href="#" th:href="@{/jpa/memberList( page=${members.pageable.pageNumber-1}, size=5)}" th:text="${members.pageable.pageNumber+0}">이전page</a>
        </th:block>
    </li>
    <li th:text="${members.pageable.pageNumber+1}">현재page</li>
    <li>
        <th:block th:if="${ members.totalPages == members.number+1 }">
            <span style="visibility:hidden" th:text="${members.pageable.pageNumber+2}">다음page</span>
        </th:block>
        <th:block th:unless="${ members.totalPages == members.number+1 }">
            <a href="#" th:href="@{/jpa/memberList( page=${members.number}+1, size=5)}" th:text="${members.pageable.pageNumber+2}">다음page</a>
        </th:block>
    </li>
</ul>

</body>
</html>