<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>loginmember</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <script src="/js/includeHTML.js"></script>
</head>
<body>
<div w3-include-html="/html/header.html"></div>
<div id="wrapper">
    <div class="login-div-logo">
        <a class="logo" href="#">확인</a>
    </div>
    <form th:action="@{/Member/Login}" method="post">
        <div id="container">
            <div class="login-containter">
                <div class="login-containter-child">
                    <input name="id" type="text" class="border" placeholder="아이디">
                    <input name="password" type="password" class="border" placeholder="비밀번호">
                </div>
                <button class="login-btn" type="submit">로그인</button>
            </div>
            <div>
                <ul class="login-ul">
                    <li><a href="#">비밀번호 찾기</a></li>
                    <li><a href="selectMember/select.html">아이디 찾기</a></li>
                    <li><a href="/Member/mJoin/Join">사용자 회원가입</a></li>
                    <li><a href="/businessMember/bmJoin/bm_Join">사업자 회원가입</a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div w3-include-html="/html/footer.html"></div>
</body>
<script>
    includeHTML();
</script>
</html>