{{>common/head}}
<div class="main">
    {{#msg}}
            <h2>Message: {{msg}}</h2>
    {{/msg}}
    <h2>TITLE select ListAll</h2>


    <table width="80%">
    {{#dtos}}
        <tr>
            <td>id:</td><td>{{id}}</td>
        </tr>
        <tr>
            <td>name:</td><td><a href="/selectOne/{{id}}">{{name}}</a></td>
        </tr>
        <tr>
            <td>password:</td><td>{{password}}</td>
        </tr>
    {{/dtos}}
        <tr>
            <td colspan="2"><a href="/insert">new data</a></td>
        </tr>
    </table>


</div>
{{>common/footer}}