* {
    list-style: none;
    /*color: rgb(255,255,255,0.8);*/
    color: rgb(0, 0, 0, 0.56);
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}
header {
    position: fixed;
    background-color: #f7323f;
    width: 100%;
    /*max-width: 962px;*/
    min-width: 375px;
    height: 60px;
}

header > div {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    width: inherit;
    height: inherit;
}

header div > a {
    display: block;
    width: inherit;
    height: inherit;
    /*margin-left: 5%;*/
    line-height: 3em;
    color: rgb(255,255,255,0.8);

}

header div > form > button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background: url('//image.goodchoice.kr/images/web_v3/ico_srch_2.png') 50% 50% no-repeat;
    background-size: 24px auto;

}

header div > ul {
    width: inherit;
    height: inherit;
}

header div > ul > li > a {
    margin-right: 5%;
    line-height: 60px;
    color: rgb(255,255,255,0.8);

}

body > div:nth-of-type(1) {
    width: 100%;
    min-width: 375px;
    height: 535px;
    margin: 0 auto;
    background: url('//image.goodchoice.kr/images/web_v3/mainspot_220531.png') 50% 100% no-repeat;
    background-size: 924px auto;
}