<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>사업자 아이디 입력</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<body>
<div th:replace="common/header :: header"></div>
<form th:action="@{/businessMember/selectBusinessMember/selectBM}" method="post">
    <td><input name="phoneNumber" type="text" th:placeholder="phoneNumber"></td>
    <input type="submit" value="회원찾기">
</form>
<div th:replace="common/footer :: footer"></div>
</body>
</html>